
.sliderContent{
    position: relative;
    top: -65vh;
    /* left: 40vw; */
    color: white;
    text-align: center;
    /* font-size: 500px; */
}
.sliderContent p{
    font-size: 55px;
    margin-bottom: -1vh;
}

.sliderContent button{
    margin-top: 5vh;
    background-color: #4DB4FF;
    border: none;
    /* padding: 1vh; */
    height: 5vh;
    width: 15vw;
}
.careersSection{
    position: relative;
    top: 100vh;
    display: flex;
}



.leftpart{
    width: 43vw;
    margin-left: 7vw;
}

span{
    font-weight: 500;
}
.heading{
    font-size: 55px;
    font-weight: 100;
}
.subheading{
    font-size: 24px;
    font-weight: 450;
}
.leftpart button{
    border: none;
    background-color: #4DB4FF;
    margin-top: 4vh;
    width: 8vw;
}
.rightpart{
    height: 50vh;
}
.img1{
    object-fit: cover;
    width: 35vw;
    height: 76vh;
    margin-left: 8vw;
}

.secondPart{
    /* background-color: rgba(0, 129, 255, 0.13); */
    position: relative;
    top: 125vh;
    height: 135vh;
    padding: 7%;
    display: flex;
}

.leftpart2{
    padding: 2%;
    width: 50vw;
}

.img1{
    object-fit: cover;
    width: 35vw;
    height: 76vh;
    margin-left: 8vw;
}

.sliderContent1{
    position: relative;
    top: -65vh;
    /* left: 40vw; */
    color: white;
    text-align: center;
    /* font-size: 500px; */
}
.sliderContent1{
    font-size: 55px;
    margin-bottom: -1vh;
}

.subheading{
    font-weight: 100;
}

.rightpart2{
    position: relative;
    width: 50vw;
    text-align: left;
    left: 47vw;
    top: -12vh;
}

.sliderContainers1{
    position: relative;
    top: 100vh;
}

.heading2{
    position: relative;
    top: -15vh;
    left: 46.75vw;
    font-weight: 200;
    text-align: left;
}

.heading2 span{
    font-weight: 500;
}

.card{
    background-color: red;
    position: relative;
    top: -50vh;
    right: 50vw;
    width: 40vw;
    height: 50vh;
    z-index: 1;
}

.form{
    background: white;
    color: black;
}

.buttonlast{
    width:"10%";
    height:"1%";
    font-size:"14px";
    position: relative;
    top: -70vh;
    left: 47vw;
    background-color: #4DB4FF;
    border: none;
}