.home {
    text-align: center;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .sliderContainers {
    width: 100%;
    height: 0vh;
    margin: 0;
    margin-top: 0;
    background-color: white;
  }
  
  /* .sliderContainers p{
    margin-top: 19%;
    font-size: 30px;
    color: #000000;
  } */
  .sliderImage {
    width: 100%;
    height: 101vh;

  }
 
 
  .content{
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 150px;
    left:28px;
    width: 35%;
    line-height: 60px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.0)
  }
  .content p{
    font-size: 2rem;
    margin-top: 60px;
    line-height: 30px;
  }
  .contentbutton {
    --primary-color: #0081ff;
    --secondary-color: #111;
    --hover-color: #0081ff;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    margin-top: 106px;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }

  .contentbutton .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contentbutton .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .contentbutton .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .contentbutton:hover {
    background-color: var(--hover-color);
  }
  
  .contentbutton:hover .arrow {
    background: var(--secondary-color);
  }
  
  .contentbutton:hover .arrow:before {
    right: 0;
  }


  .provide{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #0081ff;
    margin-top: 0%;
    height: 1000px;
    justify-content: space-around;
    /* border-bottom: 695px solid white;
    border-left: 1519.4px solid #0081FF; */
  }
  .provide_h{
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    width:600px;
    font-size: 70px;
    top: 30px;
    height: 3px;
    right: 1479px;
    align-items: baseline;
  }
  .eventsSection {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    height: 50%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .eventCard {
    width: 95%;
    position: relative;
    margin: 5px;
    height: 100%;
    background-color: white;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    overflow: hidden;
    display: flex; 
  }
  
  .eventImage {
    width: 40%; 
    height: 100%; 
    object-fit: cover;
  }
  
  .eventCardContent {
    padding:20px;
    text-align: left;
    width: 60%; /* Adjust as needed */
    box-sizing: border-box;
  }
  
  .eventTitle {
    font-size: 4.2rem;
    color: #000000;
    font-weight: bold;
    align-items: left;
    margin-bottom: 40px;
  }
  
  .eventDescription {
    font-size: 2rem;
    color: #000000;
  }
  .eventtype{
    margin-bottom: 10px;
    font-weight: 5px;
  }
  .eventbutton {
    --primary-color: #0081ff;
    --secondary-color: #111;
    --hover-color: #0081ff;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    margin-top: 106px;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }

  .eventbutton .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .eventbutton .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .eventbutton .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .eventbutton:hover {
    background-color: var(--hover-color);
  }
  
  .eventbutton:hover .arrow {
    background: var(--secondary-color);
  }
  
  .eventbutton:hover .arrow:before {
    right: 0;
  }

  .careersSection {
    position: relative;
  }
  
  
  .careersHeading {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
    text-align: center;
  }
  
  .imageContainer {
    position: relative;
  }
  
  .careerImage {
    width: 50%;
    height: 700px;
    display: block;
  }
  
  .descriptionBox {
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 129, 255, 0.5); /* Blue color with 50% transparency */
    color: white;
    border-radius: 2px;
    width:59.8%;
    height: 80%;
    max-width: 80%;
  }
  
  
  .descriptionBox h2 {
    font-size: 30px;
    margin-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:6%;
    text-align: left;
    margin-bottom: 40px;
  }
  
  .descriptionBox p {
    font-size: 25px;
    text-align: left;
    margin-left:50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.4;
  }
  .cbutton {
    --primary-color: #fff;
    --secondary-color: #111;
    --hover-color: #fff;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    margin-top: 106px;
    transition: 0.2s background;
    align-items: center;
    margin-left: 40px;
    gap: 0.6em;
    font-weight: bold;
  }

  .cbutton .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cbutton .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .cbutton .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .cbutton:hover {
    background-color: var(--hover-color);
  }
  
  .cbutton:hover .arrow {
    background: var(--secondary-color);
  }
  
  .cbutton:hover .arrow:before {
    right: 0;
  }

  .contactSection {
    margin-top: 41.7%;
    display: flex;
    height: 700px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .contactCard {
    width: 100%;
    position: relative;
    height: 100%;
    background-color: white;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    overflow: hidden;
    display: flex; 
  }
  
  .contactImage {
    width: 40%; 
    height: 700px; 
    object-fit: cover;
  }
  
  .contactCardContent {
    padding:20px;
    text-align: left;
    width: 60%; /* Adjust as needed */
    box-sizing: border-box;
  }
  
  .contactTitle {
    font-size: 4.2rem;
    color: #000000;
    font-weight: bold;
    align-items: left;
    margin-bottom: 40px;
  }
  
  .contactDescription {
    font-size: 2rem;
    color: #000000;
  }
  .contacttype{
    margin-bottom: 10px;
    font-weight: 5px;
  }
  .contactbutton {
    --primary-color: #0081ff;
    --secondary-color: #111;
    --hover-color: #0081ff;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    margin-top: 106px;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  
  
  
  
  .contactbutton .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contactbutton .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .contactbutton .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .contactbutton:hover {
    background-color: var(--hover-color);
  }
  
  .contactbutton:hover .arrow {
    background: var(--secondary-color);
  }
  
  .contactbutton:hover .arrow:before {
    right: 0;
  }