*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  --primary-color: #111;
  --hovered-color: #ffffff;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: right;
  margin-right: 25px;
}
li p{
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}
li ::after{
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}
li p::before{
  position: relative;
  content: "Subscribe";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}
li:hover::after{
  width: 100%;
}
li:hover p::before{
  width:100%;
}
a {
  text-decoration: none;
  color: white;
}
.logo {
  margin-top: 25px;
  height: 50px;
  left:30px;
  width: 100px;
  position: relative;
}

.loginButton {
  font-size: 17px;
  padding: 0.5em 2em;
  right: 10px;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  background: black;
  color: white;
  border-radius: 4px;
 }
 .loginButtonhover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
 }
 
 .loginButton:active {
  transform: translate(0em, 0.2em);
 }
 
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  border: 0;
  position: sticky;
  top: -40%;
  transition: all .4s;
  transition-timing-function: ease-in-out;
  z-index: 999;
}

/* .nav_item{
  justify-content: space-between;
} */
.nav__menu {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: flex-end;
  margin-left: 42%;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.5rem;
  right: 4vw;
  position: relative;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .loginButton {
    font-size: 17px;
    padding: 0.5em 2em;
    left:50vw;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: black;
    color: white;
    border-radius: 4px;
   }
  .nav__menu {
    position: fixed;
    top: 9vh;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 10;
    opacity:85%;
    justify-content: space-evenly;
  }
}

.nav__active {
  transform: translateX(0%);
}


.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5.5px, -5px);
}